
<div class="row justify-content-center ">
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
        <div class="c. ol-6">
            <h3>Cafetera</h3>
            <h4>Electrodomestico</h4>
            <h1>s/72.59</h1>
            <div class="iconos">
              <h6  class="fas fa-heart corazon"></h6>
              <h6  class="fas fa-plus-square  mas"></h6>
              <h6  class="fas fa-shopping-cart carrito"></h6>
            </div>
        </div>
        <div class="col-6">
            <img src="../../../../assets/productos/electrodomesticos/cafetera.jpg" class="d-block w-100" alt="">
        </div>
      </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Licuadora</h3>
              <h4>oster</h4>
              <h1>s/80.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>
          <div class="col-6">
              <img src="../../../../assets/productos/electrodomesticos/licuadora.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Olla arrocera</h3>
              <h4>oster</h4>
              <h1>s/80.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>
          <div class="col-6">
              <img src="../../../../assets/productos/electrodomesticos/olla arrocera.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>

</div>
