<div class="container">
    <div class="row">
         <div class="col-12 col-sm-12 caja1" >
            <div class="alert alert-secondary padre" role="alert">
              <div class="totalgeneral">
                  <label class="total">Total : </label>
              </div>
            <div class="monto">
              <label class="total">S/.145.70</label>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-s-12 caja2" >
           <div class="alert alert-secondary padre2" role="alert">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                  <label class="custom-control-label" for="defaultUnchecked">Seleccionar todo</label>
              </div>
           <div class="Cantidad ">
                <label class="letra">Cantidad</label>
                <label class="letra">(4)</label>
           </div>
         </div>
       </div>
       <div class="container stilo">
         <div class="row">



           <div class="col-2 m-2 card-body">
                <input type="checkbox" class=" custom-control-input" id="defaultUncheckedd">
                <label class="custom-control-label" for="defaultUncheckedd"></label>
             <img class="d-block w-100" src="../../../assets/img/item/marcador-grafico.png" alt=""></div>
           <div class="col-7 card-body">
             <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit id aliquam ex nemo. Nemo quod quam </h6>
              Color: <input type="">
              Size:
              <h6>US $14.85</h6>
              <h6><span class="text-primary">Enviar $41.18 </span>Fecha estimada de entrega el 04/08</h6>
           </div>
           <div class=" col-2 card-body">
             <div class="row">
                <button class="btn"><i class="far fa-heart"></i></button>
                <button class="btn"><i class="fas fa-glass-whiskey"></i></button>
             </div>
           </div>
          </div>
        </div>


   </div>
  </div>
