<div class="body">
  <div class="container py-5">
    <div class="row">
    <div class="col-12 col-sm-12 caja1" >
      <div class="alert bg-white padre" role="alert">
        <div class="">
          <label class="">Total : </label>
          <input class="btn" type="text" placeholder="PEN 145.70">
        </div>
      </div>
    </div>
    <div class="col-12 col-s-12 caja2 " >
        <div class="alert bg-white m-0"  role="alert">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Seleccionar todo</label>
            <label class="letra float-right">Cantidad (4)</label>
          </div>
        </div>
    </div>
  </div>
    <hr>
    <!-- producto -->
      <div class="row alert bg-white m-2 ">
        <div class="col-4 col-md-2 ">
          <input type="checkbox" class=" custom-control-input" id="defaultUncheckedd">
          <label class="custom-control-label" for="defaultUncheckedd"></label>
          <img class="d-block w-100" src="../../../assets/img/item/marcador-grafico.png" alt="">
        </div>
          <div class="col-5 col-md-8">
            <!-- web -->
            <div class=" d-none d-md-block">
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit id aliquam ex nemo. Nemo quod quam </h6>
              <h6 class="m-0">Color: <input class="alert p-0 m-0" type="" placeholder="-"></h6>
              <h6 class="m-0" >Size: <input class="alert p-0 m-0" type="text" placeholder="-"> </h6>
              <input class="alert p-0 m-0" type="text" name="" id="" placeholder="US $14.85">
              <h6><span class="text-primary">Enviar $41.18 </span>Fecha estimada de entrega el 04/08</h6>
            </div>
            <!-- mobil -->
            <div class="d-md-none text-center">
                <button class="btn ju"><i class="far fa-heart"></i></button>
                <button class="btn"><i class="fas fa-glass-whiskey"></i></button>
                <button class="btn pr-1">- 12 +</button>
            </div>
          </div>
          <div class="col-3 col-md-2 text-center" >
            <!-- web -->
            <div class="d-none d-md-block" >
              <button class="btn ju"><i class="far fa-heart"></i></button>
              <button class="btn"><i class="fas fa-glass-whiskey"></i></button>
              <br><br>
              <button class="btn pr-1">-</button>
              <button class="btn px-0 ">12</button>
              <button class="btn pl-1">+</button>
            </div>
            <!-- mobil -->
            <div class="d-md-none text-center p-0" >
                  <br>
                <input class="alert p-0 m-0 w-100" type="text" name="" id="" placeholder="14.85 S/">
            </div>
          </div>
        </div>
    <!-- Producto2 -->
    <div class="row alert bg-white m-2 ">
        <div class="col-4 col-md-2 ">
          <input type="checkbox" class=" custom-control-input" id="defaultUncheckedd">
          <label class="custom-control-label" for="defaultUncheckedd"></label>
          <img class="d-block w-100" src="../../../assets/img/item/marcador-grafico.png" alt="">
        </div>
          <div class="col-5 col-md-8">
            <!-- web -->
            <div class=" d-none d-md-block">
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit id aliquam ex nemo. Nemo quod quam </h6>
              <h6 class="m-0">Color: <input class="alert p-0 m-0" type="" placeholder="-"></h6>
              <h6 class="m-0" >Size: <input class="alert p-0 m-0" type="text" placeholder="-"> </h6>
              <input class="alert p-0 m-0" type="text" name="" id="" placeholder="US $14.85">
              <h6><span class="text-primary">Enviar $41.18 </span>Fecha estimada de entrega el 04/08</h6>
            </div>
            <!-- mobil -->
            <div class="d-md-none text-center">
                <button class="btn ju"><i class="far fa-heart"></i></button>
                <button class="btn"><i class="fas fa-glass-whiskey"></i></button>
                <button class="btn pr-1">- 12 +</button>
            </div>
          </div>
          <div class="col-3 col-md-2 text-center" >
            <!-- web -->
            <div class="d-none d-md-block" >
              <button class="btn ju"><i class="far fa-heart"></i></button>
              <button class="btn"><i class="fas fa-glass-whiskey"></i></button>
              <br><br>
              <button class="btn pr-1">-</button>
              <button class="btn px-0 ">12</button>
              <button class="btn pl-1">+</button>
            </div>
            <!-- mobil -->
            <div class="d-md-none text-center p-0" >
                  <br>
                <input class="alert p-0 m-0 w-100" type="text" name="" id="" placeholder="14.85 S/">
            </div>
          </div>
        </div>

  </div>
</div>
