<div class="row justify-content-center ">
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
        <div class="c. ol-6">
            <h3>Mochila leon</h3>
            <h4>Azul</h4>
            <h1>s/40.59</h1>
            <div class="iconos">
              <h6  class="fas fa-heart corazon"></h6>
              <h6  class="fas fa-plus-square  mas"></h6>
              <h6  class="fas fa-shopping-cart carrito"></h6>
            </div>
            
        </div>
        <div class="col-6">
            <img src="../../../../assets/mochilas/mochilas1.jpg" class="d-block w-100" alt="">
        </div>
      </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Mochila Adidas</h3>
              <h4>Negra</h4>
              <h1>s/70.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>
          <div class="col-6">
              <img src="../../../../assets/mochilas/mochilas2.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Mochila Watson</h3>
              <h4>Color Mezclado</h4>
              <h1>s/80.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>        
          <div class="col-6">
              <img src="../../../../assets/mochilas/mochilas3.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>

</div>

