<div class="row justify-content-center ">
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
        <div class="c. ol-6">
            <h3>Caja de colores</h3>
            <h4>printer</h4>
            <h1>s/7.59</h1>
            <div class="iconos">
              <h6  class="fas fa-heart corazon"></h6>
              <h6  class="fas fa-plus-square  mas"></h6>
              <h6  class="fas fa-shopping-cart carrito"></h6>
            </div>
            
        </div>
        <div class="col-6">
            <img src="../../../../assets/utiles/caja de colores.jpg" class="d-block w-100" alt="">
        </div>
      </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Caja de Crayola</h3>
              <h4>printer</h4>
              <h1>s/8.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>
          <div class="col-6">
              <img src="../../../../assets/utiles/crayola.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Juego de Reglas</h3>
              <h4>mezclado</h4>
              <h1>s/3.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>        
          <div class="col-6">
              <img src="../../../../assets/utiles/juego de reglas.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>

</div>

