<h4 class="m-5 titulo4">Categorias</h4>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <div class="row justify-content-center ">
          <div class="col-2 col-md-1"><a routerLink="/home/proelectrodomestico" routerLinkActive="active"><img class="d-block w-100" src="../../../../assets/img/item/electrodomestico.png"></a>
            <p class="electrodomestico">Electrodoméstico</p>
          </div>
          <div class="col-2 col-md-1"><a routerLink="/home/prolibros" routerLinkActive="active"><img class="d-block w-100" src="../../../../assets/img/item/libros.png"></a>
            <p class="libros">Libros</p>
          </div>
          <div class="col-2 col-md-1"><a routerLink="/home/promochilas" routerLinkActive="active"><img class="d-block w-100" src="../../../../assets/img/item/mochila.png"></a>
            <p class="mochilas">Mochilas</p>
          </div>
          <div class="col-2 col-md-1"><a routerLink="/home/proutiles" routerLinkActive="active"><img class="d-block w-100" src="../../../../assets/img/item/utiles.png"></a>
            <p class="utiles">Utiles Escolares

            </p>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
          <div class="col-2 col-md-1"><a href=""><img class="d-block w-100" src="../../../../assets/img/item/bicicleta2.jpg"></a>
            <p class="bicicletas">Bicicletas</p>
          </div>
          <div class="col-2 col-md-1"><a href=""> <img class="d-block w-100" src="../../../../assets/img/item/camas.jpg"></a>
            <p class="camas">Camas</p>
          </div>
          <div class="col-2 col-md-1"><a href=""> <img class="d-block w-100" src="../../../../assets/img/item/decoraciones.jpg"></a>
            <p class="decoraciones">Decoraciones</p>
          </div>
         <div class="col-2 col-md-1"><a href=""> <img class="d-block w-100" src="../../../../assets/img/item/adornos.jpg"></a>
          <p class="adornos">Adornos</p>
          </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only" class="previos"><</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only" class="next">></span>
  </a>
</div>

<hr class="m-5">


<!-- producto -->
