<div class="row justify-content-center ">
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
        <div class="c. ol-6">
            <h3>Amor Liquido</h3>
            <h4>AutorZega</h4>
            <h1>s/20.59</h1>
            <div class="iconos">
              <h6  class="fas fa-heart corazon"></h6>
              <h6  class="fas fa-plus-square  mas"></h6>
              <h6  class="fas fa-shopping-cart carrito"></h6>
            </div>
            
        </div>
        <div class="col-6">
            <img src="../../../../assets/productos/libros/libro1.jpg" class="d-block w-100" alt="">
        </div>
      </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>Amantes Artificiales</h3>
              <h4>Autor Jorge</h4>
              <h1>s/30.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>
          <div class="col-6">
              <img src="../../../../assets/productos/libros/libro2.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>
  <div class="col-12 col-md-3 p-4 m-2 stilo">
      <div class="row">
          <div class="col-6">
              <h3>El dia que se perdio la Cordura</h3>
              <h4>Autor Anonimo</h4>
              <h1>s/80.59</h1>
              <div class="iconos">
                <h6  class="fas fa-heart corazon"></h6>
                <h6  class="fas fa-plus-square  mas"></h6>
                <h6  class="fas fa-shopping-cart carrito"></h6>
              </div>
          </div>        
          <div class="col-6">
              <img src="../../../../assets/productos/libros/libro3.jpg" class="d-block w-100" alt="">
          </div>
        </div>
  </div>

</div>
