.btn-catalogo{
  width: 100%;
  background-color: #F64E4E;
  color: #fff;
  border: 0;
  border-radius: 0px 0px 15px 15px;
}
.stilo{
  border-radius: 15px;
  box-shadow: 0px 3px 7px #a7a7a7;
}
footer {
	background-color:#1A1A1A;
  height: 50%;
  color: white;
  padding: 15px;
  margin-top: 50px;
}

.main1 {
  display:flex;
  margin:0 auto;
}
.imagen{
  padding-left: 21%;
}
.body{
  background-color: #f1f1f1;
}
.cat-s{
  margin-left: 4%;
  font-size: 2em;
}
.fz{
  text-align: center;
  font-size: 3vmin;
}
.fz-c{
  font-size: 5vmin;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
.h-auto100{
  height: 100%;
}

.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  position: relative;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
  width: 40%;
  margin: auto;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 0;
    background: #1ABC9C;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -ms-border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
  padding: 1.25rem;

}
.abajo {
  position: absolute;
  text-align: center;
  padding-bottom: 5px;
  bottom: 0;
  display: flex;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.btn-h-pink:hover {
color: pink;
}
.btn-h-green:hover {
color: rgb(6, 202, 6);
}
.btn-h-orange:hover {
  color: orangered;
  }
