  <nav class="navbar  bg-tred navbar-dark p-1  sticky-top">
    <!-- Brand -->
    <a routerLink ="" routerLinkActive="active" class="text-white" ><img src="../../../assets/img/logopapaNoel.png" width="180px " height="45px" alt=""> </a>
    <!-- Toggler/collapsibe Button -->
    <div class="buscador d-none d-md-block justify-content-center ">
      <div class="d-flex">
        <button class="btn text-success"><i class="fas fa-search"></i></button>
        <input class="" type="search" placeholder="Buscar un producto">
      </div>
    </div>
    <!-- Navbar links -->
    <div class="menu">
      <ul class="navbar-navv justify-content-center">
        <li class="">
            <a  class="btn text-white f-z " routerLink ="/LisComprasComponent"  routerLinkActive="active"><i class="fas fa-shopping-cart"></i></a>
        </li>
        <li class=" ">
            <a href="#" class="btn text-white f-z " data-toggle="dropdown"><i class="fas fa-user"></i> Mi cuenta</a>
            <ul class="dropdown-menu muvi p-4 shadow-puro">
              <li class="text-center "><a href="#" class="fa-2x text-dark"><i class="fas fa-user-circle"></i></a></li>
              <li class="text-center border-bottom">hola Juan</li>
              <li class="pt-2"><a href="" class="link"><span class="text-lightblue"><i class="fas fa-pencil-alt pr-3"></i></span>Editar Perfil</a></li>
              <li><a href="" class="link"><span class="text-lightblue"><i class="far fa-heart pr-3"></i></span>Lista de Favoritos</a></li>
              <li><a href="" class="link"><span class="text-lightblue"><i class="fas fa-power-off pr-3"></i></span>Cerrar Sesión </a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
